In [1]:
import pandas as pd

### label

In [2]:
train_label = pd.read_csv("../data/train_labels.csv")
train_label.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [3]:
#NA?
train_label.isna().any() , train_label.customer_ID.duplicated().any()

(customer_ID    False
 target         False
 dtype: bool,
 False)

In [4]:
#ratio of traget == 1
train_label['target'].mean()

0.2589336105100531

In [16]:
train = pd.read_pickle("../data/train.pkl")
test = pd.read_pickle("../data/test.pkl")

### Data

In [17]:
with pd.option_context("display.min_rows", 10):
    display(train)
    display(test)

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_43,D_44,...,S_2day_of_year,S_2weekofyear,S_2is_month_end,S_2is_month_start,S_2is_quarter_end,S_2is_quarter_start,S_2is_year_end,S_2is_year_start,S_2is_weekend,target
0,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,NaN,0.000630,...,68,10,0,0,0,0,0,0,0,0.0
1,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,NaN,0.002525,...,97,14,0,0,0,0,0,0,0,0.0
2,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,NaN,0.007607,...,-108,21,0,0,0,0,0,0,1,0.0
3,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,NaN,0.006405,...,-92,24,0,0,0,0,0,0,0,0.0
4,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,NaN,0.007732,...,-59,28,0,0,0,0,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531446,0.979492,0.416016,0.020813,0.828125,0.003487,0.090759,0.005341,0.025146,0.014229,0.002178,...,53,44,0,0,0,0,0,0,1,NaN
5531447,0.984863,0.296631,0.007210,0.812500,0.005905,0.079895,0.002243,0.023697,0.009468,0.005219,...,101,51,0,0,0,0,0,0,1,NaN
5531448,0.982910,0.444092,0.013153,0.815430,0.003456,0.100525,0.002111,0.012344,0.006592,0.002350,...,6,1,0,0,0,0,0,0,1,NaN
5531449,0.969727,0.442627,0.009857,1.003906,0.005116,0.101807,0.009933,0.008575,0.014236,0.006508,...,37,6,0,0,0,0,0,0,0,NaN
5531450,0.981934,0.002474,0.000077,0.992676,0.000809,0.119141,0.003286,0.014091,0.013458,0.006794,...,73,11,0,0,0,0,0,0,0,NaN

,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_43,D_44,...,S_2day_of_week,S_2day_of_year,S_2weekofyear,S_2is_month_end,S_2is_month_start,S_2is_quarter_end,S_2is_quarter_start,S_2is_year_end,S_2is_year_start,S_2is_weekend
0,0.631348,0.001912,0.010727,0.814453,0.007545,0.168701,0.009972,0.002348,NaN,0.007584,...,1,50,8,0,0,0,0,0,0,0
1,0.586914,0.005276,0.011024,0.811035,0.001817,0.241333,0.000166,0.009132,NaN,0.006645,...,0,84,13,0,0,0,0,0,0,0
2,0.608887,0.003326,0.016388,1.004883,0.000114,0.267090,0.004196,0.004192,NaN,0.009605,...,3,115,17,0,0,0,0,0,0,0
3,0.614746,0.009064,0.021667,0.816406,0.009720,0.188965,0.004124,0.015327,NaN,0.007820,...,0,-116,21,0,0,0,0,0,0,0
4,0.591797,0.238770,0.015930,0.810547,0.002026,0.180054,0.000731,0.011284,NaN,0.009956,...,5,-90,24,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11363757,0.440918,0.000144,0.008636,0.818359,0.001797,NaN,0.006420,0.002710,NaN,0.008942,...,2,97,51,0,0,0,0,0,0,0
11363758,0.445557,0.006832,0.009636,0.815430,0.009872,NaN,0.003611,0.006920,NaN,0.004509,...,5,19,3,0,0,0,0,0,0,1
11363759,0.459961,0.005245,0.004421,0.818848,0.000665,NaN,0.000559,0.007057,NaN,0.003437,...,6,48,7,0,0,0,0,0,0,1
11363760,0.460449,0.002663,0.009529,0.816406,0.009026,NaN,0.008530,0.006851,NaN,0.001107,...,1,78,12,0,0,0,0,0,0,0
11363761,0.454590,0.004402,0.000346,0.810059,0.008736,NaN,0.000937,0.003494,NaN,0.004314,...,3,108,16,0,0,0,0,0,0,0

In [20]:
print(f'Train data memory usage: {train.memory_usage().sum() / 1e9} GBytes')
print(f'Test data memory usage:  {test.memory_usage().sum() / 1e9} GBytes')

Train data memory usage: 1.897287821 GBytes
Test data memory usage:  3.897770494 GBytes